<!-- Page Header -->
<!-- Set your background image for this header in your post front-matter: cover -->
<%
    var item = page;
    var cover = item.cover || theme.index_cover;
%>
<header class="intro-header" style="background-image: url('<%- cover %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading about-heading">
                    <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
                    <hr class="small">
                    <% if (item.subtitle && item.subtitle.length) { %>
                    <span class="subheading"><%- item.subtitle %></span>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

            <!-- Post Main Content -->
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <%- item.content %>
            </div>
        </div>
    </div>
</article>